* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
}

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #C2E4E4, #DEE8E8, #FBFBFB);
  padding: 40px 24px; 
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}

/* 카드 박스 */
.signup-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  min-width: 280px; /*최소 너비 설정 */
  background-color: white;
  border: 1px solid #BBBBBB;
  border-radius: 16px;
  padding: 0 16px;
}

.signup-logo {
  display: block;
  width: 100%;
  max-width: 266px;
  height: auto;
  margin: 54px auto 0 auto; /* 가운데 정렬 */
}

.signup-title {
  text-align: center;
  font-family: 'Pretendard', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #0B0B61;
  margin-top: 19px;
}

.signup-description {
  text-align: center;
  font-family: 'Pretendard', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 300;
  color: #838383;
  margin-top: 5px;
}

.signup-form {
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  padding: 45px 0 51px;
  margin: 0 auto;
  gap: 32px;
}

.signup-form-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup-form-row-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.signup-form-row input {
  border: none;
  border-bottom: 1px solid #BBBBBB;
  background-color: transparent;
  outline: none;
  height: 40px;
  width: 100%;
  font-size: 16px;
  font-family: 'Pretendard', sans-serif;
}

.signup-form-row label {
  font-family: 'Pretendard', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #838383;
}

.signup-check-duplicate {
  font-size: 13px;
  font-weight: 300;
  color: #8BCECE;
}

.signup-row-with-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.signup-row-with-button input {
  flex: 1;
  padding: 4px;
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent;
}

.signup-upload-btn {
  display: inline-block; /* 라벨로 수정했기 때문에 있어야 버튼처럼 보임 */
  text-align: center;
  border: 0.69px solid #BBBBBB;
  background-color: white;
  padding: 4px 8px;
  font-size: 11px !important;
  font-weight: 700 !important;
  cursor: pointer;
  border-radius: 6px;
  width: 75px;
  height: 27px;
  font-family: 'Pretendard', sans-serif;
  text-align: center;
  color: #101010 !important;
}

.Drawer-button-gruop {
  display: flex;
  gap: 8px;
}
.signup-file-name {
  font-size: 12px;
  color: #c4c3c3;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 7px 0 0;
}

.signup-underline {
  width: 100%;
  height: 1px;
  background-color: #BBBBBB;
  margin-top: 0px;
}

.signup-form-row:nth-of-type(2) .signup-underline { /*프로필 사진 underline */
  width: 100%;
  height: 1px;
  background-color: #BBBBBB;
  margin-top: 4px;
  
}

.signup-form-row:nth-of-type(5) .signup-input {
  padding: 0px;
  margin-top: -4px;
  
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
}


input::placeholder {
  color: white;
  font-size: 14px;
}

.signup-hidden-file {
  display: none;
}

.signup-label {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  font-size: 16px;
  font-weight: 600;
  color: #838383;
}

.signup-label-check-icon {
  width: 12px;
  height: 12px;
}

.signup-submit-btn {
  width: 100%;
  max-width: 360px;
  height: 60px;
  background-color: #0B0B61;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: 'Pretendard', sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin: 0 auto 51px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-email-display {
  font-size: 14px;
  color: #333;
  margin-top: 8px;
  margin-bottom: 8px;
  display: block;
}

.signup-email-not-verified {
  font-size: 14px;
  color: #aaa;
  margin-top: 8px;
  display: block;
}

.signup-select {
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  border:none;
  font-family: 'Pretendard', sans-serif;
  background: white url('/src/assets/dropdown_arrow.svg') no-repeat right 16px center;
  background-size: 16px;
  cursor: pointer;
  margin-top: 3px;
  color: #838383;
  padding: 5px 0;
}



.signup-email-verify-btn {
  display: inline-block; /* 라벨로 수정했기 때문에 있어야 버튼처럼 보임 */
  text-align: center;
  border: 0.69px solid #BBBBBB;
  background-color: white;
  padding: 4px 8px;
  font-size: 11px !important;
  font-weight: 700 !important;
  cursor: pointer;
  border-radius: 6px;
  width: 75px;
  height: 27px;
  font-family: 'Pretendard', sans-serif;
  text-align: center;
  color: #101010 !important;
}

@media (max-width: 400px) {
  .signup-page {
    padding: 20px;
  }

  .signup-logo {
    width: 80%;
    max-width: 200px;
    margin-top: 30px;
  }

  .signup-form {
    padding: 20px 0;
    gap: 24px;
  }

  .signup-form-row input {
    font-size: 14px;
  }

  .signup-submit-btn {
    height: 50px;
    font-size: 14px;
  }
}
